.cache/
.ncs-docker/

build/
build-docker/

*.o
*.a
*.bin
*.hex
*.elf
*.map
*.lst
*.uf2

nfrsdk/.west/
nfrsdk/sdk-nrf-main/

tools/adafruit-nrf52-bootloader/
tools/blackmagic/
tools/blackmagic-src/
tools/blackmagic-build-bluepill-rtt/
tools/blackmagic-build-bluepill-rtt-direct/
tools/blackmagic-build-bluepill-rtt-min/

bootloader-artifacts/

__pycache__/
*.pyc
